.screen_CC1{
    background-color: #f8f8f8;
    padding-top: 110px;
    width: 100vw;
    height: calc(100vh - 110px);
}

.nav_CC1{
    position: fixed;
    top: 50px;
}

.nav_CC1 ul li{
    list-style: none;
    color: black;
    float: left;
    font-weight: bold;
    font-size: larger;
    background-color: #eaf0e9;
    width: calc(100vw / 4);
    height: 50px;
    line-height: 50px;
    border-radius: 20px 20px 0px 0px;

}
.nav_CC1 ul{
    padding: 0px;
    margin: 0px;
    height: 50px;
    background-color: #eaf0e9;
    margin-bottom: 10px;
}

.menuwrap_CC1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: calc(25vh + 20px);
}

.menu_CC1{
    width: calc(100vw / 3 - 30px);
    border: 2px solid #eaf0e9;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.cafeimg{
    width: calc(100vw / 3 - 30px);
}
.menuname_CC1{
    margin: 0;
}
.menuprice_CC1{
    margin: 0;
    margin-bottom: 5px;
}

.menulist_CC1{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25vh;
    border-top: 10px solid #f8f8f8;
    border-bottom: 10px solid #f8f8f8;
}

.listl_CC1{
    padding-top: 10px;
    float: left;
    width: 70%;
    height: 100%;
    overflow: scroll;
    background-color: white;
}

.listr_CC1{
    float: right;
    width: 30%;
    height: 100%;
    background-color: #f8f8f8;
}

#step_color{
    background-color: #b3d1a4;
}
#select_CC1{
    background-color: #f8f8f8;
}

.menulistname_CC1{
    float: left;
    padding-left: 20px;
    clear: both;
}
.menulistprice_CC1{
    float: right;
    padding-right: 20px;
}

.cancel_CC1{
    width: 80%;
    background-color: #bebebe;
    border-radius: 10px;
    border: 1px solid #bebebe;
    height: 20%;
}

.totalpricediv_CC1{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content : center;
}

.totalprice_CC1{
    background-color: white;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: normal;
    border-radius: 10px;
}

.pay_CC1{
    width: 80%;
    background-color: #eaf0e9;
    border-radius: 10px;
    border: 1px solid #b3d1a4;
    height: 30%;
    margin: 0;
    font-size: large;
    bottom: 0px;
}

.paymodal_CC1{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalscreen_CC1{
    position: absolute;
    margin: auto;
    width: 80%;
    height: 70%;
    background-color: white;
}

.modalhead_CC1{
    background-color: #eaf0e9;
    padding: 5px;
}

.modalbutton_CC1{
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.return_CC1{
    float: left;
    background-color: #bebebe;
    margin: 10px 0 10px 10px;
    padding: 10px;
}
.here_CC1{
    float: right;
    width: 20%;
    background-color: #eaf0e9;
    margin: 10px 10px 10px 0;
    padding: 10px;
}
.togo_CC1{
    float: right;
    width: 20%;
    background-color: #eaf0e9;
    margin: 10px 10px 10px 0;
    padding: 10px;
}



.questbutton{
    position: fixed;
    top:10px;
    right: 10px;
    background-color: #b3d1a4;
    padding: 5px;
}

.questmodal{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.questmodalscreen{
    position: absolute;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: white;
}

.questmodalhead{
    background-color: #eaf0e9;
    padding: 5px;
}

.questmodalcontent{
    font-size: 1.5em;
    padding-top: 15vh;
}

.questmodalbutton{
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.returnquest{
    background-color: #bebebe;
    padding: 10px;
}


@media (min-width: 992px) {

    .screen_CC1 {
        width: 100%;
    }

    .nav_CC1 ul li{
        width: 155px;
    }

    .menu_CC1{
        width: 170px;
    }
    .cafeimg{
        width: 170px;
    }

    .menulist_CC1{
        width: 620px;
    }

    .paymodal_CC1{
        width: 620px;
    }

    .questbutton{
        right: calc((100vw - 620px) / 2 + 20px);
        position: fixed;
    }

    .questmodal{
        width: 620px;
    }
}